.menu-bottom {
    

    &__link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--white);
        display: block;
        margin: 0 0 10px;

        &:hover {
            color: var(--orange);
        }
    }
}