<% var data = {
    title: "PrintMe - Product",
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <a href="javascript:;" class="breadcrumbs__link">ВСЯ ПРОДУКЦИЯ</a> / 
        <span class="breadcrumbs__current">ВИЗИТКИ</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>ПЕЧАТЬ ВИЗИТОК В МОСКВЕ</h1>

</div>

<!-- Шапка товара -->
<div class="product-head">
    <div class="product-head__left">

        <!-- Cлайдер товара -->
        <div class="slider-product">
            <div class="swiper-container slider-product__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider-product__slide">
                        <img src="/local/uploads/product.slider.jpg" class="slider-product__img" alt="">
                    </div>
                    <div class="swiper-slide slider-product__slide">
                        <img src="/local/uploads/product.slider.jpg" class="slider-product__img" alt="">
                    </div>
                    <div class="swiper-slide slider-product__slide">
                        <img src="/local/uploads/product.slider.jpg" class="slider-product__img" alt="">
                    </div>
                    <div class="swiper-slide slider-product__slide">
                        <img src="/local/uploads/product.slider.jpg" class="slider-product__img" alt="">
                    </div>
                </div>
            </div>
            <a class="slider-product__prev" href="javascript:;">
                <span class="str-prev"></span>
                <span class="slider-product__count-prev"></span>
            </a>
            <a class="slider-product__next" href="javascript:;">
                <span class="slider-product__count-next"></span>
                <span class="str-next"></span>
            </a>
        </div>

        <div class="slider-product-thumbs">
            <div class="swiper-container slider-product-thumbs__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider-product-thumbs__slide">
                        <img src="/local/uploads/product.slider.thumbs.jpg" class="slider-product-thumbs__img" alt="">
                    </div>
                    <div class="swiper-slide slider-product-thumbs__slide">
                        <img src="/local/uploads/product.slider.thumbs.jpg" class="slider-product-thumbs__img" alt="">
                    </div>
                    <div class="swiper-slide slider-product-thumbs__slide">
                        <img src="/local/uploads/product.slider.thumbs.jpg" class="slider-product-thumbs__img" alt="">
                    </div>
                    <div class="swiper-slide slider-product-thumbs__slide">
                        <img src="/local/uploads/product.slider.thumbs.jpg" class="slider-product-thumbs__img" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product-head__right">

        <!-- Иконки товара -->
        <div class="product-icons">
            <div class="product-icons__item">
                <div class="product-icons__pict">
                    <svg class="product-icons__icon">
                        <use xlink:href="/local/img/sprite.product.svg#linux"></use>
                    </svg>
                </div>
                <div class="product-icons__name">
                    900 РУБ. ЗА 10 ШТ.
                </div>
                <div class="product-icons__desc">
                    60x25 мм,<br>
                    пластиковые, с булавкой
                </div>
            </div>
            <div class="product-icons__item">
                <div class="product-icons__pict">
                    <svg class="product-icons__icon">
                        <use xlink:href="/local/img/sprite.product.svg#bomb"></use>
                    </svg>
                </div>
                <div class="product-icons__name">
                    СРОК ИЗГОТОВЛЕНИЯ
                </div>
                <div class="product-icons__desc">
                    быстро
                </div>
            </div>
            <div class="product-icons__item">
                <div class="product-icons__pict">
                    <svg class="product-icons__icon">
                        <use xlink:href="/local/img/sprite.product.svg#reddit"></use>
                    </svg>
                </div>
                <div class="product-icons__name">
                    ЗАКАЗАТЬ ДИЗАЙН
                </div>
            </div>
            <div class="product-icons__item">
                <div class="product-icons__pict">
                    <svg class="product-icons__icon">
                        <use xlink:href="/local/img/sprite.product.svg#connect"></use>
                    </svg>
                </div>
                <div class="product-icons__name">
                    КОНСТРУКТОР МАКЕТОВ
                </div>
            </div>
        </div>

        <div class="product-head__text">
            ПЕЧАТЬ И ИЗГОТОВЛЕНИЕ БЕЙДЖЕЙ НА ЗАКАЗ ЛЮБЫХ ФОРМ И РАЗМЕРОВ
            ИСПОЛЬЗУЕМ ТОЛЬКО КАЧЕСТВЕННЫЕ МАТЕРИАЛЫ (ПЛАСТИК ИЛИ МЕТАЛЛ)
            СОБСТВЕННОЕ ОБОРУДОВАНИЕ<br>
            В СЛУЧАЕ БРАКА, ВОЗВРАТ ДЕНЕГ В РАЗМЕРЕ 100%
        </div>

        <div class="product-head__more">
            <a href="javascript::" class="product-head__more-link">
                <span class="str-prev str-prev_black"></span>
                <span class="product-head__more-prev">ЕЩЁ ПРОДУКЦИЯ</span>
            </a>
            <a href="javascript::" class="product-head__more-link">
                <span class="product-head__more-next">ЕЩЁ ПРОДУКЦИЯ</span>
                <span class="str-next str-next_black"></span>
            </a>
        </div>

    </div>
</div>

<div class="product-calc">
    <div class="product-calc__part product-calc__part_orange">
        <div class="product-calc__inner">
            <div class="h3">ПЕЧАТЬ</div>
            <div class="product-calc__items form-one">
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ФОРМАТ КАТАЛОГА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ФОРМАТ КАТАЛОГА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-calc__part product-calc__part_blue">
        <div class="product-calc__inner">
            <div class="h3">ОБРАБОТКА</div>
            <div class="product-calc__items form-one">
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ФОРМАТ КАТАЛОГА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ФОРМАТ КАТАЛОГА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
                <div class="product-calc__item">
                    <div class="form-one__line">
                        <label class="form-one__label">
                            ТИП ПЕРЕПЛЁТА:
                            <svg class="form-one__label-icon">
                                <use xlink:href="/local/img/sprite.svg#icon-eye"></use>
                            </svg>
                        </label>
                        <select>
                            <option>А4 (210х297 мм) книга</option>
                            <option>А3 (210х297 мм) книга</option>
                            <option>А2 (210х297 мм) книга</option>
                            <option>А1 (210х297 мм) книга</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-calc__part product-calc__part_brown">
        <div class="product-calc__inner">
            <div class="h3">ДАТА: 26.05.2020</div>
            <div class="product-calc__price">
                <div>ЦЕНА:</div>
                <div class="product-calc__price-value">5 607₽</div>
            </div>
            <div class="product-calc__btns">
                <a href="javascript:;" class="product-calc__btn btn-one">
                    РАССЧИТАТЬ ЗАКАЗ
                </a>
                <a href="javascript:;" class="product-calc__btn btn-one">
                    ОФОРМИТЬ ЗАКАЗ
                </a>
            </div>
            <div class="product-calc__info">
                <div class="product-calc__info-head">КАК ВСЁ ПРОИСХОДИТ:</div>
                Мы отправим вам подтверждение в течение 1 рабочего дня после отправки вашего заказа. Время производства начинается после того, как вы утвердите свой вариант.<br>
                Выбор жесткого доказательства продлит продолжительность процесса проверки, поскольку для его доставки потребуется дополнительное время.
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>